version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    depends_on: 
      - backend
    ports:
      - "3000:80"   # Access app at http://localhost:3000
    restart: always  
    environment:
      - REACT_APP_API_URL=http://localhost:8080/products
      - REACT_APP_CMS_URL=http://localhost/home

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    deploy:
      replicas: 2        # autoscaling: run 2 containers
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SERVER_PORT=8080

   
